.roo-menu {
    position: fixed;
    top: 27.5px;
    right: 5%;
    z-index: 999;
    display: flex;
}

.roo-notif{
    margin-left: 1rem;
}

.roo-hamburger, .roo-notif {
    width: 60px;
    height: 60px;
    background: var(--plava);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 8px 20px hsla(210, 36%, 37%, 0.6);
    transition: all 0.3s ease;
}

.roo-hamburger:hover, .roo-notif:hover {
    transform: scale(1.08);
    background: var(--smeda);
}

.roo-hamburger span {
    width: 30px;
    height: 3px;
    background: white;
    margin: 3.5px 0;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.roo-hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 6px);
}

.roo-hamburger.active span:nth-child(2) {
    opacity: 0;
}

.roo-hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -6px);
}

.roo-menu-panel {
    position: absolute;
    top:-5px;
    right: 160px;
    background: var(--bez);
    border-radius: 18px;
    padding: 1rem 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
    min-width: 180px;
    box-shadow: 0 20px 40px hsla(0, 0%, 0%, 0.25);

    opacity: 0;
    transform: translateX(25px) scale(0.95);
    pointer-events: none;

    transition: all 0.3s ease;
}

.roo-menu-panel.active {
    opacity: 1;
    transform: translateX(0) scale(1);
    pointer-events: auto;
}

.roo-menu-link {
    text-decoration: none;
    color: var(--crna);
    font-weight: 500;
    padding: 0.5rem 1rem;
    position: relative;
    transition: color 0.2s ease;
}

.roo-menu-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: var(--naran);
    transition: width 0.25s ease;
    border-radius: 2px;
}

.roo-menu-link:hover {
    color: var(--plava);
}

.roo-menu-link:hover::after {
    width: 100%;
}

.create-adventure-btn{
    width: max-content;
    background: var(--tplava);
    font-family: var(--naslov);
    color: var(--bijela);
    padding: 0.75rem 1rem;
    border-radius: 28px;
    text-decoration: none;
    transition: all 0.2s ease;
}

.create-adventure-btn:hover {
    background: var(--smeda);
    scale: 1.03;
}
@media screen and (max-width: 600px){
    .roo-menu-panel {
    position: absolute;
    top: 0px;
    right: 80px;
    background: var(--bez);
    border-radius: 18px;
    padding: 1rem 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    min-width: 180px;
    box-shadow: 0 20px 40px hsla(0, 0%, 0%, 0.25);

    opacity: 0;
    transform: translate(25px) scale(0.95);
    pointer-events: none;

    transition: all 0.3s ease;
}

.roo-menu-panel.active {
    opacity: 1;
    transform: translateX(0) scale(1);
    pointer-events: auto;
}
}