APP_ENV=development

DB_HOST=localhost
DB_NAME=roo_app
DB_USER=root
DB_PASS=

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=vaš_Mailtrap_username
MAIL_PASSWORD=vaš_Mailtrap_password
MAIL_FROM=noreply@rooapp.com
MAIL_FROM_NAME=Roo

APP_URL=http://localhost/Roo